# Server settings
PORT=3000
SESSION_SECRET=your_jwt_session_secret_here

# Database connection URL
MONGODB_URI=mongodb://localhost:27017/streamflix

# External API Keys (Required for recommendations and search fetching)
TMDB_API_KEY=your_tmdb_api_key_here
GOOGLE_BOOKS_API_KEY=your_google_books_api_key_here
LASTFM_API_KEY=your_lastfm_api_key_here
